header {
    background: #cccccc;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
    border: 2px solid #000000;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}


/*Quando o mouse tiver por cima, tem um comportamento*/

nav a:hover {
    color: #C78c19;
    text-decoration: underline;
}

footer {
    text-align: center;
    background: url("./assets/img/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    /*unicode-table.com*/
}