header {
    background: #cccccc;
    padding: 20px 0;
}

.caixaa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav ul {
    display: inline;
    /* padding-right: 50%;
    padding-left: 50%; */
}

.navLi {
    display: inline;
    margin: 0 0 0 15px;
    border: 2px solid #000000;
}

nav a {
    display: inline;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78c19;
    text-decoration: underline;
}


/* main {
    width: 940px;
    margin: 0 auto;
} */

.principal {
    background: #FFFFFF;
    margin: 0 auto;
    padding: 30px 0;
}

#banner {
    width: 100%;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.titulo-centralizado {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

p {
    text-align: center;
}

#missao {
    font-size: 22px;
    padding-top: 15px;
    padding-bottom: 15px;
}

em strong {
    color: #FF0000;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
    font-size: 22px;
    display: inline-block;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.itens {
    font-style: italic;
}

#imgBeneficios {
    width: 50%;
}

footer {
    text-align: center;
    background: url("../assets/img/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    /*unicode-table.com*/
}